header{
    background-color: white;
    height:730px;
}
table{
    
    margin-top: 70px;
    width: 1400px;
    margin-left: 3.5%;
    border-radius: 5px;
    
    
    
}
input#searchName{
    position: absolute;
    top: 90px;
    left: 3.5%;
}
div#navbarNavDarkDropdown{
    margin-left: 1000px;
}   
   