<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
          </div>
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <a class="nav-link active" aria-current="page" href="/main">Home</a>
      <a class="nav-link active" aria-current="page" href="/ourProducts">Products</a>
      <a class="nav-link active" aria-current="page" href="/customerRegistration">Shop</a>
      <a class="nav-link active" aria-current="page" href="/customerLogin">Account</a>
      <a class="nav-link active" aria-current="page" href="/adminLogin">Admin account</a>
  </div>
</nav>
<form  #addForm="ngForm" (ngSubmit)="addCustomer()">
    <h1 id=login>Customer info</h1>
    <small class="text-danger" >{{msg}} </small>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="email"  [(ngModel)]="newCutomer.name" name="name" class="form-control"   aria-describedby="emailHelp" placeholder="Name" required 
        #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required</small>
        
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" [(ngModel)]="newCutomer.email" name="email" class="form-control"   aria-describedby="emailHelp" placeholder="Email" required 
         #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">email is required</small>
        
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Phone number</label>
        <input type="email" [(ngModel)]="newCutomer.phoneNumber" name="phonenumber" class="form-control"   aria-describedby="emailHelp" placeholder="Phone number" required 
         #phonenumber="ngModel" [class.is-invalid]="phonenumber.invalid && phonenumber.touched">
        <small class="text-danger" [class.d-none]="phonenumber.valid || phonenumber.untouched">phone number is required</small>
        
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Gender</label><br>
      <select [(ngModel)]="newCutomer.gender" name="gender" class="form-select" aria-label="Default select example" required 
      #gender="ngModel" [class.is-invalid]="gender.invalid && gender.touched" style="width: 150px;">
        <option value="M">M</option>
        <option value="F">F</option>
        
      </select>
      <small class="text-danger" [class.d-none]="gender.valid || gender.untouched">gender is required</small>

    </div>
      
     
      <button  [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Register</button>
      <small class="float-right" ><a href="/customerLoginRegistration">Creat Account</a></small>
</form>
  
  
  
