
				                

div#main-div{
    margin-top: 40px;
    font-size: medium;
}
ul#main-ul{
    height: 500px;
    margin-top: auto;
}  
div#col3{
    height: 500px;
} 
div#navbarNavDarkDropdown{
    margin-left: 1200px;
}        
