
main#global{
    
    height:674px; 
    background-color: #ffffff;
   
}				                

div#main-div{
    
    font-size: large;
   
}

ul#main-ul{
    height: 500px;
    margin-top: auto;
}  
div#col3{
    height: 500px;
} 
div#navbarNavDarkDropdown{
    margin-left: 1200px;
}        
