<nav class="navbar navbar-dark bg-dark">
   <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
          </div>
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <a class="nav-link active" aria-current="page" href="/main">Home</a>
      <a class="nav-link active" aria-current="page" href="/ourProducts">Products</a>
      <a class="nav-link active" aria-current="page" href="/customerRegistration">Shop</a>
      <a class="nav-link active" aria-current="page" href="/reclamation">Reclamation</a>
      <a class="nav-link active" aria-current="page" href="/customerLogin">Account</a>
      <a class="nav-link active" aria-current="page" href="/adminLogin">Admin account</a>
  </div>
</nav>
<form  #addForm="ngForm" (ngSubmit)="placeOrder(addForm)" id="main-form">
    <h1 id=login>Reserve here</h1>
    <small class="text-danger" >{{msg}} </small>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="email"  [(ngModel)]="reservation.name"  name="name" class="form-control"   aria-describedby="emailHelp" placeholder="Name" required 
        #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required</small>&nbsp;&nbsp;
        <small class="text-danger" [class.d-none]="name.value == customer">please give the correct name "{{customer}}"</small>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" [(ngModel)]="reservation.email" name="email" class="form-control"   aria-describedby="emailHelp" placeholder="Email" required 
         #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">email is required</small>
        
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">City</label>
        <input type="email" [(ngModel)]="reservation.ville" name="city" class="form-control"   aria-describedby="emailHelp" placeholder="city" required 
         #city="ngModel" [class.is-invalid]="city.invalid && city.touched">
        <small class="text-danger" [class.d-none]="city.valid || city.untouched">city is required</small>
        
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Address</label>
        <input type="email" [(ngModel)]="reservation.address" name="address" class="form-control"   aria-describedby="emailHelp" placeholder="address" required 
         #address="ngModel" [class.is-invalid]="address.invalid && address.touched">
        <small class="text-danger" [class.d-none]="address.valid || address.untouched">address is required</small>
        
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Region</label>
        <input type="email" [(ngModel)]="reservation.region" name="region" class="form-control"   aria-describedby="emailHelp" placeholder="region" required 
         #region="ngModel" [class.is-invalid]="region.invalid && region.touched">
        <small class="text-danger" [class.d-none]="region.valid || region.untouched">region is required</small>
        
      </div><br>

      <label for="exampleInputEmail1" class="form-label"><b>Place your commands here</b></label>
      <form #commandForm="ngForm">
      <div class="row g-3"  >
        
        <div class="col-sm">
          <label for="exampleInputEmail1" class="form-label">Select Product:</label><br>
      <select  [(ngModel)]="command.name" name="product" class="form-select" aria-label="Default select example" required 
       #product="ngModel" [class.is-invalid]="product.invalid && product.touched">
       <option value=""></option>
        <option *ngFor="let prod of products">{{prod.productName}}</option>
      </select>
      <small class="text-danger" [class.d-none]="product.valid || product.untouched">Required</small>
        </div>
        <div class="col-sm">
          <label for="exampleInputEmail1" class="form-label">Quantity:</label><br>
          <input type="text" [(ngModel)]="command.qte" name="qte" #qte="ngModel"  class="form-control" placeholder="Quantity" aria-label="Zip" required
          [class.is-invalid]="qte.invalid && qte.touched">
          <small class="text-danger" [class.d-none]="qte.valid || qte.untouched">Product quantity is required</small>
        </div>
       
          <button (click)="saveCommand(commandForm)" type="button" class="btn btn-success" id="butsuccess">Add to your bag <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
          </svg></button>
          <small class="text-danger" >{{msg2}} </small>
      </div>
    </form>
    <br>
    
    <table class="table ">
      <thead >
        <tr>
          
          <th scope="col">ProductName</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let com of commands">
          
          <td>{{com.name}}</td>
          <td>{{com.qte}}</td>
          <td>{{com.price}}$</td>
          <td><button (click)="deleteCom(com.id)" type="button" class="btn btn-danger"  >delete</button></td>
        </tr>
        
      </tbody>
      <tfoot><tr>
        <th>Total</th>
        <td></td>
        <td>{{total}} $</td>
        <td></td>
      </tr></tfoot>
    </table>
      <button  [disabled]="addForm.invalid || name.value != customer" type="submit" class="btn btn-primary">Purchase</button><br>
      <small style="color: green;" >{{msg1}} </small>
</form>
  
  
  
