div.global{
    background-color: white;
    height:730px;
}

div#main-container{
    

margin-left: 10.5%;
margin-top: 1%;
}


table{
    border-radius: 5px;
    margin-left: 15px;
   font-size:11.7px;
    width: 100%;
}
div#navbarNavDarkDropdown{
    
    margin-left: 90%;
}        

main#global{
    
    height:674px; 
    background-color: #ffffff;
   
}				                

div#main-div{
    
    font-size: large;
   
}

ul#main-ul{
    height: 500px;
    margin-top: auto;
}  
div#col3{
    height: 500px;
} 


