
<div class="global">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-nav">
  <div class="container-fluid">
    <a  class="navbar-brand" href="/admincontrolpage">Welcome</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="" data-toggle="modal" data-target="#AddProductModel">Add product</a>
          
        </li>
        
        <li class="nav-item dropdown" id="admin">
          <a  class="nav-link dropdown-toggle " href="#" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg> {{userName}}
          </a>
          
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Profil</a></li>
            <li><a class="dropdown-item" href="/adminLogin">Logout</a></li>
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container" id="main-container">
  
  <form class="form-inline my-2 my-lg-0" style="margin-left: -120px;">
    <strong>search:</strong><pre> </pre><input type="search"  (ngModelChange)="searchProduct(key.value)" #key="ngModel" ngModel
     name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search product..." style="width:250px;">
    </form><hr style="margin-left: -120px;">
<table class="table table-dark table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Serial-number</th>
        <th scope="col">Product-name</th>
        <th scope="col">Initial-quantity</th>
        <th scope="col">Current-quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Promotion-price</th>
        <th scope="col">Category</th>
        <th>State</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productQuantityI}}</td>
        <td>{{product.productQuantity}}</td>
        <td>{{product.productPrice}} dh</td>
        <td>{{product.promotionPrice}} dh</td>
        <td>{{product.category}} </td>
        <td>{{product.state}} </td>
        <td><button type="button" (click)="onSelectProduct(product)" class="btn btn-info" data-toggle="modal" data-target="#updateEmployeeModal">edit</button></td>
        <td><div id="con"><button (click)="onOpenModal(product)" type="button" class="btn btn-danger" >delete</button></div></td>
      </tr>
      
    </tbody>
    <tfoot><tr>
      <td><button style="height: 30px;font-size:0%;" type="button" class="btn btn-success" (click)="stockPdf()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
       </svg> </button></td>
    <th>Total</th>
    <th>{{total1}}</th>
    <th>{{total2}}</th>
  </tr></tfoot>
  </table>
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Product</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete product: {{deletePro?.productName}} </p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="deleteProduct(deletePro.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  <!-- Edit Modal -->
  <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Product: {{updatePro?.productName}} </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
              <small class="text-danger" >{{msg}} </small>
              
              <input type="hidden" ngModel="{{updatePro?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text"   ngModel="{{updatePro?.productName}}" name="productName" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                </div>
                
                <div class="form-group">
                   <label for="email">Initial quantity</label>
                   <input type="email"  ngModel="{{updatePro?.productQuantityI}}" name="productQuantityI" class="form-control" id="Initial-quantity" placeholder="Initial quantity">
                </div>
                <div class="form-group">
                   <label for="phone">Current quantity</label>
                   <input type="text"  ngModel="{{updatePro?.productQuantity}}" name="productQuantity" class="form-control" id="Current-quantity" placeholder="Current quantity">
                </div>
                <div class="form-group">
                   <label for="phone">Price</label>
                   <input type="text" ngModel="{{updatePro?.productPrice}}" name="productPrice" class="form-control" id="Price"  placeholder="Price">
                </div>
                <div class="form-group">
                   <label for="phone">Promotion price</label>
                   <input type="text"  ngModel="{{updatePro?.promotionPrice}}" name="promotionPrice" class="form-control" id="Promotion price" placeholder="Promotion price">
                </div>
                <div class="form-group">
                  <label for="phone">Image URL</label>
                  <input type="text"  ngModel="{{updatePro?.productImage}}" name="productImage" class="form-control" id="imageUrl" placeholder="Image URL">
               </div>
               <div class="form-group">
                <label for="phone">Description</label>
                <textarea  ngModel="{{updatePro?.description}}" class="form-control" id="exampleFormControlTextarea1" rows="3"  name="description" placeholder="Description" required 
                ></textarea>
                 
             </div>
             <div class="form-group">
              <label for="phone">category</label>
              <input type="text"  ngModel="{{updatePro?.category}}" name="category" class="form-control" id="category" placeholder="category">
           </div>
           <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">State</label><br>
          <select  ngModel="{{updatePro?.state}}" name="state" class="form-select" aria-label="Default select example" required 
           >
           <option selected></option>
            <option >new</option>
            <option >promotion</option>
            <option >none</option>
          </select>
          <small class="text-danger" [class.d-none]="state.valid || state.untouched">Required</small>
          
          </div>
          
                <div class="modal-footer">
                   <button type="button"  data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button [disabled]="editForm.invalid" (click)="updateProduct(editForm.value)" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
 
</div>
 <!-- Add Modal -->
 <div  class="modal fade" id="AddProductModel" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
     <div class="modal-content" >
        <div class="modal-header">
           <h5 class="modal-title" id="updateEmployeeModalLabel">Add Product To Stock </h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body" >
           <form #addForm="ngForm">
                    <small class="text-danger" >{{msg2}} </small>
                      <div class="mb-3" id="div1">
                        <label for="exampleInputEmail1" class="form-label">Product name</label>
                        <input type="email"  [(ngModel)]="stock.productName"  name="productName" class="form-control"   aria-describedby="emailHelp" placeholder="productName" required 
                        #productName="ngModel" [class.is-invalid]="productName.invalid && productName.touched">
                        <small class="text-danger" [class.d-none]="productName.valid || productName.untouched">Required</small>
                      </div>
                        <div class="mb-3" id="div3">
                          <label for="exampleInputEmail1" class="form-label">Initial quantity</label>
                          <input type="email" [(ngModel)]="stock.productQuantityI"  name="productQuantityI" class="form-control"   aria-describedby="emailHelp" placeholder="Initial quantity" required 
                          #productQuantityI="ngModel" [class.is-invalid]="productQuantityI.invalid && productQuantityI.touched">
                          <small class="text-danger" [class.d-none]="productQuantityI.valid || productQuantityI.untouched">Required</small>
                      </div>
                      <div class="mb-3" id="div3">
                        <label for="exampleInputEmail1" class="form-label">Current quantity</label>
                        <input type="email" [(ngModel)]="stock.productQuantity"  name="productQuantity" class="form-control"   aria-describedby="emailHelp" placeholder="Current quantity" required 
                        #productQuantity="ngModel" [class.is-invalid]="productQuantity.invalid && productQuantity.touched">
                        <small class="text-danger" [class.d-none]="productQuantity.valid || productQuantity.untouched">Required</small>
                    </div>

                      <div class="mb-3" id="div4">
                              <label for="exampleInputEmail1" class="form-label">Price</label>
                              <input type="email" [(ngModel)]="stock.productPrice"  name="productPrice" class="form-control"   aria-describedby="emailHelp" placeholder="productPrice" required 
                              #productPrice="ngModel" [class.is-invalid]="productPrice.invalid && productPrice.touched">
                              <small class="text-danger" [class.d-none]="productPrice.valid || productPrice.untouched">Required</small>
                      </div>
                      <div class="mb-3" id="div4">
                        <label for="exampleInputEmail1" class="form-label">Promotion price</label>
                        <input type="email" [(ngModel)]="stock.promotionPrice"  name="promotionPrice" class="form-control"   aria-describedby="emailHelp" placeholder="promotionPrice" required 
                        #promotionPrice="ngModel" [class.is-invalid]="promotionPrice.invalid && promotionPrice.touched">
                        <small class="text-danger" [class.d-none]="promotionPrice.valid || promotionPrice.untouched">Required</small>
                  </div>
                      
                      <div class="mb-3" id="div4">
                        <label for="exampleInputEmail1" class="form-label">Image URL</label>
                        <input type="email" [(ngModel)]="stock.productImage" name="productImage" class="form-control"   aria-describedby="emailHelp" placeholder="productImage" required 
                        #productImage="ngModel" [class.is-invalid]="productImage.invalid && productImage.touched">
                        <small class="text-danger" [class.d-none]="productImage.valid || productImage.untouched">Required</small>
                  </div>
                  <div class="mb-3" id="div5">
                    <label for="exampleInputEmail1" class="form-label">Description </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="stock.description" name="description" placeholder="Description" required 
                    #description="ngModel" [class.is-invalid]="description.invalid && description.touched"></textarea>
                    <small class="text-danger" [class.d-none]="description.valid || description.untouched">Required</small>
                  </div>
                  <div class="mb-3" id="div4">
                    <label for="exampleInputEmail1" class="form-label">Category</label>
                    <input type="email" [(ngModel)]="stock.category" name="category" class="form-control"   aria-describedby="emailHelp" placeholder="category" required 
                    #category="ngModel" [class.is-invalid]="category.invalid && category.touched">
                    <small class="text-danger" [class.d-none]="category.valid || category.untouched">Required</small>
                  </div>
                  <div class="mb-3" id="div2">
                    <label for="exampleInputEmail1" class="form-label">State</label><br>
                  <select  [(ngModel)]="stock.state"  name="state" class="form-select" aria-label="Default select example" required 
                  #state="ngModel" [class.is-invalid]="state.invalid && state.touched">
                  <option selected></option>
                    <option >new</option>
                    <option >promotion</option>
                    <option >none</option>
                  </select>
                  <small class="text-danger" [class.d-none]="state.valid || state.untouched">Required</small>

                  </div>
              <div class="modal-footer">
                 <button type="button"  data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button [disabled]="addForm.invalid" (click)="addStock(addForm)" class="btn btn-primary" data-dismiss="modal">Add to stock</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>
</div>

