section#container1{

width: 500px;
height: 1000px;
margin-left: 10px;
margin-top: 70px;

border-radius: 5px;

background-color:  #4e75bd9c ;
}
section#main-container{
position: absolute;
width: 700px;
height: 1000px;
left: 580px;
top: 90px;
}
h1#login{
    text-align: center;
}
input{
    width: 400px;
}
div#div1{
    margin-left: 10%;
}
div#div2{
    margin-left: 10%;
}
div#div3{
    margin-left: 10%;
}
div#div4{
    margin-left: 10%;
}
div#div5{
    margin-left: 10%;
    margin-right: 10%;
}
button#but1{
    
    margin-left: 10%;
}
select{
    width: 400px;
    height: 35px;
}
table{
    border-radius: 5px;
    
    width: 955px;
    margin-left: -60px;
}
div#navbarNavDarkDropdown{
    margin-left: 1200px;
}        
