div.global{
    background-color: white;
    height:730px;
}

div#main-container{
    

margin-left: 10.5%;
margin-top: 1%;
}


table{
    border-radius: 5px;
    
    width: 1300px;
    margin-left: -60px;
}
li#admin{
    margin-left: 1100px;
}        
