
form {
    width: 500px;
    min-height: 200px;
    height: auto;
    margin-top: 7%;
    margin-left: 33%;
    border-radius: 5px;
    font-family:   'Arial Narrow Bold', sans-serif;
    padding: 2%;
    background-color:  #adc3ec ;
}
h1#login{
    text-align: center;
}
