
.card-body {
    width: 100%;
     flex: 1 1 auto;
     min-height: 1px;
     padding: 1.25rem;
}       
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    width:auto;
}
.col-xl-8 {
      
    
    position: relative;
    width: 100%;
    
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .col-lg-7 {
      
    
    position: relative;
    width: 100%;
    
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .container-fluid{
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
  }
  .col-lg-6 {
      
    position: relative;
  
  padding-right: 0.75rem;
  padding-left: 0.75rem;
    width: 749px;
  }
  .card-body {
    width: 100%;
     flex: 1 1 auto;
     min-height: 1px;
     padding: 1.25rem;
   }
   #wrapper{
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
   }
   .green{
    
     color: rgb(24, 228, 24);
   }
   .yellow{
  
     color: yellow;
   }
   .red{
    
     color: red;
   }
   .green1{
     
     color: rgb(24, 228, 24);
   }
   .yellow1{
     
     color: yellow;
   }
   .red1{
     
     color: red;
   }
   .standard{
    
    color: rgb(84, 172, 184);
   }
   .d-sm-flex {
    display: flex !important;
  }
  .align-items-center {
    align-items: center !important;
  }
  .justify-content-between {
    justify-content: space-between !important;
  }
  .text-gray-800 {
    color: #5a5c69 !important;
  }
  .bordered{
    width: 615px;
    height: 375px;
    border: 1px solid;
  }
  a.nav-link:active{
    color: rgb(75, 152, 224);
  }
  a.nav-link:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  a.nav-link:hover {
    text-decoration: none;
    color: rgb(75, 152, 224);
  }
  
        
  
  