header{
    background-color: white;
    height:730px;
}
table{
    margin-top: 130px;
    width: 1230px;
    margin-left: 140px;
    border-radius: 5px;
    
    
}
input#searchName{
    position: absolute;
    top: 135px;
    left: 143px;
}
div#navbarNavDarkDropdown{
    margin-left: 1200px;
}        