

  a.canvas:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  a.canvas:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  /* mouse over link */
  a.canvas:hover {
    text-decoration: none;
    color: rgb(107, 158, 252);
  }
  
  /* selected link */
  a.canvas:active {
    text-decoration: none;
    color: blue;
  }
  div#offcanvasExample{
    background-color: #2b2f3e;
  }
  button#closebt{
    background-color: blanchedalmond;
    margin-left: 350px;
  }
  div#carouselExampleCaptions{
    background-color:  #4e75bd9c ;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    width: 1000px;
    height: 550px;
    margin-left: 150px;
    margin-top: 100px;
  }
  div.carousel-inner{
    height: 100%;
    width: 100%;
  }
  img.d-block{
    height: 500px;
    
  }
  
 

