

form {
    width: 500px;
    min-height: 200px;
    height: auto;
    top: 600px;
    border-radius: 5px;
    margin: 2% auto;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    padding: 2%;
    background-color:  #4e75bd9c ;
}
h1#login{
    text-align: center;
}
a#login:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  a#login:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  /* mouse over link */
  a#login:hover {
    text-decoration: none;
    color: rgb(221, 27, 27);
  }
  
  /* selected link */
  a#login:active {
    text-decoration: none;
    color: blue;
  }
