table{
    border-radius: 5px;
    
    width: 1390px;
    margin-left: 4%;
    margin-top: 5%;
}
li.dropdown{
    margin-left: 1000px;
}        
input#searchName{
    position: absolute;
    top: 12%;
    left: 4%;
}
