table{
    border-radius: 5px;
    
    width: 1300px;
    margin-left: 7%;
    margin-top: 7%;
}
li.dropdown{
    margin-left: 1000px;
}        
input#searchName{
    position: absolute;
    top: 120px;
    left: 107px;
}
