<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-nav">
    <div class="container-fluid">
      <a  class="navbar-brand" href="/admincontrolpage">Welcome </a><b class="navbar-brand" style="font-family:Arial; font-size:25px;">List of reclamations</b>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" >
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle " href="#" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg> {{userName}}
            </a>
            
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="">Profil</a></li>
              <li><a class="dropdown-item" href="/adminLogin">Logout</a></li>
              
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <form class="form-inline my-2 my-lg-0">
    <input type="search"  (ngModelChange)="searchReclamation(key.value)" #key="ngModel" ngModel
     name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search reclamation...">
    </form>
  <table class="table-warning table table-bordered">
      <thead>
          <tr>
              <th>Id</th>
              <th>clientName</th>
              <th>clientEmail</th>
              <th>codeCommand</th>
              <th>ProductName</th>
              <th>CodeArticle</th>
              <th>Quantity</th>
              <th>Motif</th>
              <th>Date</th>
              <th>Time</th>
          </tr>
        </thead>
          <tbody>
              <tr *ngFor="let reclam of reclamations">
                  <td>{{reclam.id}}</td>
                  <td>{{reclam.clientName}}</td>
                  <td>{{reclam.clientEmail}}</td>
                  <td>{{reclam.codeCommand}}</td>
                  <td><div *ngFor="let product of reclam.productClaimeds">{{product.name}}</div></td>
                  <td><div *ngFor="let product of reclam.productClaimeds">{{product.codeArticle}}</div></td>
                  <td><div *ngFor="let product of reclam.productClaimeds">{{product.qte}}</div></td>
                  <td><div *ngFor="let product of reclam.productClaimeds">{{product.motif}}</div></td>
                  <td>{{reclam.date}}</td>
                  <td>{{reclam.time}}</td>
              </tr>
          </tbody>
          <tfoot>
            <tr>
              <td><button style="height: 25px;" type="button" (click)="reclamationPdf()" class="btn btn-success"><svg style="margin-bottom: 100%;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
              </svg></button></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
      


  </table>
