<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-nav">
    <div class="container-fluid">
      
      
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" >
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle " href="#" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg> {{userName}}
            </a>
            
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="">Profil</a></li>
              <li><a class="dropdown-item" href="/adminLogin">Se déconnecter</a></li>
              
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main id="global">
    <div class="container bootstrap snippets bootdey" id="main-div">
      
      <!-- upper section -->
      <div class="row">
        <div class="col-md-2" id="col3">
          <!-- left -->
          <strong style="font-size: x-large;"> Services</strong>
          <hr>
          
          <ul  id="main-ul">
            <li style="list-style-type: none;"><a class="nav-link active" href="/admincontrolpage"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
              <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg> Accueil</a></li>
            <li style="list-style-type: none;"><a class="nav-link active" href="/productStock"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
            </svg> Stock</a></li>
            <li style="list-style-type: none;"><a class="nav-link active" href="/customerinfo"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
            </svg> Commandes</a></li>
            <li style="list-style-type: none;"><a class="nav-link active" href="/customersList"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
              <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg> Clients</a></li>
            <li style="list-style-type: none;"><a class="nav-link active" href="/reclamations"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-angry" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zm6.991-8.38a.5.5 0 1 1 .448.894l-1.009.504c.176.27.285.64.285 1.049 0 .828-.448 1.5-1 1.5s-1-.672-1-1.5c0-.247.04-.48.11-.686a.502.502 0 0 1 .166-.761l2-1zm-6.552 0a.5.5 0 0 0-.448.894l1.009.504A1.94 1.94 0 0 0 5 6.5C5 7.328 5.448 8 6 8s1-.672 1-1.5c0-.247-.04-.48-.11-.686a.502.502 0 0 0-.166-.761l-2-1z"/>
            </svg> Réclamations</a></li>
            <li style="list-style-type: none;"><a class="nav-link active" href="/KPI"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
            </svg> KPIs</a></li>
           
          </ul>
          
          
          
        </div><!-- /span-3 -->
        <div class="col-md-10">   	
          <!-- column 2 -->	
           <strong style="font-size: x-large;"> Réclamation</strong>    
           <hr>
         <div class="row">
          <form class="form-inline my-2 my-lg-0">
            <input type="search"  (ngModelChange)="searchReclamation(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Rechercher...">
            </form>
          <table class="table-warning table table-bordered">
            
              <thead>
                  <tr>
                      <th >Code_réclamation</th>
                      <th>Nom</th>
                      <th>Email</th>
                      <th>Catégorie</th>
                      <th>Code_Commande</th>
                      <th>Produit</th>
                      <th>Code_Article</th>
                      <th>Quantité</th>
                      <th>Motif</th>
                      <th>Date</th>
                      <th>Heure</th>
                      <th>Etat</th>
                      <th>Date de clôture</th>
                  </tr>
                </thead>
                  <tbody>
                      <tr *ngFor="let reclam of reclamations">
                          <td >{{reclam.id}}</td>
                          <td>{{reclam.clientName}}</td>
                          <td>{{reclam.clientEmail}}</td>
                          <td>{{reclam.categorie}}</td>
                          <td>{{reclam.codeCommand}}</td>
                          <td><div *ngFor="let product of reclam.productClaimeds">{{product.name}}</div></td>
                          <td><div *ngFor="let product of reclam.productClaimeds">{{product.codeArticle}}</div></td>
                          <td><div *ngFor="let product of reclam.productClaimeds">{{product.qte}}</div></td>
                          <td><div *ngFor="let product of reclam.productClaimeds">{{product.motif}}</div></td>
                          <td>{{reclam.date}}</td>
                          <td>{{reclam.time}}</td>
                          <td *ngIf="reclam.etat!='encours'">{{reclam.etat}}</td>
                          <td *ngIf="reclam.etat=='encours'"><button type="button" (click)="editReclam(reclam)" class="btn btn-info">clôturer</button></td>
                          <td *ngIf="reclam.dateCloture!=null">{{reclam.dateCloture}}</td>
                          <td *ngIf="reclam.dateCloture==null">encours</td>
                      </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><button style="height: 25px;" type="button" (click)="reclamationExcel()" class="btn btn-success"><svg style="margin-bottom: 100%;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
                      </svg></button></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tfoot>
              
        
        
          </table>
      
              </div>
               
                                    
                  
                </div><!--/col-->
             
               
            
           </div><!--/row-->
        </div><!--/col-span-9-->
      </main>
