

form {
  width: 500px;
  min-height: 200px;
  height: auto;
  margin-top: 3%;
  margin-left: 33%;
  border-radius: 5px;
  font-family:   'Arial Narrow Bold', sans-serif;
  padding: 2%;
  background-color:  #adc3ec ;
}
h1#login{
    text-align: center;
}
a#login:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* visited link */
a#login:visited {
  text-decoration: none;
  color: blue;
}

/* mouse over link */
a#login:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* selected link */
a#login:active {
  text-decoration: none;
  color: blue;
}
a.nav-link:active{
  color: rgb(75, 152, 224);
}
a.nav-link:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a.nav-link:hover {
  text-decoration: none;
  color: rgb(75, 152, 224);
}

