<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
          </div>
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <a class="nav-link active" aria-current="page" href="/main">Accueil</a>
    <a class="nav-link active" aria-current="page" href="/ourProducts">Produits</a>
    <a class="nav-link active" aria-current="page" href="/customerLogin">Commander</a>
    <a class="nav-link active" aria-current="page" href="/reclamation">Réclamer</a>
    <a class="nav-link active" aria-current="page" href="/customerLogin">Client</a>
    <a class="nav-link active" aria-current="page" href="/adminLogin">Admin</a>
  </div>
</nav>
<form  #addForm="ngForm" (ngSubmit)="customerRegister()">
    <h1 id=login>Créer un compte</h1>
    <small class="text-danger" >{{msg}} </small>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nom</label>
        <input type="email"  [(ngModel)]="regCustomer.name" name="name" class="form-control"   aria-describedby="emailHelp" placeholder="Nom" required 
        #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Le nom est requis</small>
        
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" [(ngModel)]="regCustomer.email" name="email" class="form-control"   aria-describedby="emailHelp" placeholder="Email" required 
         #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">email est requis</small>
        
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Numéro de téléphone</label>
        <input type="email" [(ngModel)]="regCustomer.phoneNumber" name="email" class="form-control"   aria-describedby="emailHelp" placeholder="Numéro de téléphone" required 
         #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">champ requis</small>
        
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Catégorie</label>
        <select [(ngModel)]="regCustomer.category" name="category" class="form-select" aria-label="Default select example" required
        #category="ngModel" [class.is-invalid]="category.invalid && category.touched">
          <option selected>Ouvrir</option>
          <option >grossiste</option>
          <option >pharmacie</option>
          <option >clinique</option>
          <option >para/droguiste</option>
          <option >particulier+autre</option>
          <option >institution</option>
        </select>
        <small class="text-danger" [class.d-none]="category.valid || category.untouched">category est requis</small>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
        <input type="password"  [(ngModel)]="regCustomer.password" name="passwod" class="form-control"  placeholder="Mot de passe" required 
         #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Mot de passe requis</small>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirmer le mot de passe</label>
        <input type="password"  (ngModel)="regCustomer.password" name="cpasswod" class="form-control"  placeholder="Confirmer le mot de passe" required 
         #cpassword="ngModel" [class.is-invalid]="cpassword.invalid && cpassword.touched">
        <small class="text-danger" [class.d-none]="cpassword.value== password.value || cpassword.untouched ">mot de passe incorrecte</small>
      </div>
      <button  [disabled]="addForm.invalid" type="submit" class="btn btn-primary">S'inscrire</button>
      <small class="float-right" ><a id="login" href="/customerLogin">Avoir déjà un compte</a></small>
</form>
  
  
  
