form#main-form {
    width: 900px;
    min-height: 200px;
    height: auto;
    margin-top: 1%;
    margin-left: 22%;
    border-radius: 5px;
    font-family:   'Arial Narrow Bold', sans-serif;
    padding: 2%;
    background-color:  #adc3ec ;
}
h1#login{
    text-align: center;
}
table{
    border-radius: 5px;
    margin: 2% auto;
}
select{
    width: 330px;
    height: 38px;
}
button#butsuccess{
    height: 40px;
    margin-top: 32px;
}