<nav class="navbar navbar-dark  bg-dark fixed-top" >
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" id="closebt" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
           <ul>
             <li style="list-style-type: none;"><a class="canvas" href="/promotion"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gift-fill" viewBox="0 0 16 16">
              <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z"/>
            </svg> Promotions</a></li><br>
            <li style="list-style-type: none;"><a class="canvas" href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
            </svg> PFQ</a></li>
           </ul>
          </div>
        </div>
      <a class="nav-link active" aria-current="page" href="/main">Home</a>
      <a class="nav-link active" aria-current="page" href="/ourProducts">Products</a>
      <a class="nav-link active" aria-current="page" href="/customerRegistration">Shop</a>
      <a class="nav-link active" aria-current="page" href="/customerLogin">Account</a>
      <a class="nav-link active" aria-current="page" href="/adminLogin">Admin account</a>
    </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="secondnav">
      <div class="container-fluid">
       
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/popularProducts" >Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newestProducts" >Newest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bestselling">Bestselling</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row flow-offset-1" >
    <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys" *ngFor="let product of newest">
        <!-- product -->
        <div class="product-content product-wrap clearfix" >
            <div class="row flow-offset-1" >
                    <div class="col-md-5 col-sm-12 col-xs-12" >
                        <div class="product-image"> 
                            <img src="{{product.productImage}}" style="width: 194px; ;height: 228px; " alt="194x228" class="img-responsive"> 
                            <span class="tag2 hot">
                                NEW
                            </span> 
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-deatil">
                            <h5 class="name">
                                <a href="/customerLogin">
                                    {{product.productName}} <span>{{product.category}}</span>
                                </a>
                            </h5>
                            <p class="price-container">
                                <span>{{product.productPrice}} $</span>
                            </p>
                            <span class="tag1"></span> 
                    </div>
                    <div class="description">
                        <p>New Product</p>
                    </div>
                    <div class="product-info smart-form">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6"> 
                                <a href="/customerLogin;" class="btn btn-success">Add to cart</a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="rating">
                                    <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                    <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                    <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                                    <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                                    <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->
    </div>
</div>
</div>



